name: KFS UNIT TESTS
on:
  push:
    branches: ['main', 'dev/**']
  pull_request:
    branches: ['main', 'dev/**']

jobs:
  unit_tests:
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repo
        uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: '3.10'
      - name: KFS CI
        run: make ci
